
@media (min-width:320px) and (max-width:575px){
    
/*   ===========navber part responsive start=========== */
html,body{
	overflow-x: hidden;
}
.title h2{
    font-size: 22px !important;
}
.navbar-toggler {
    top: 10px;
    margin-left: 230px;
    position: absolute;
}
.navbar-toggler i{
    color: #fff;
    font-size: 18px;
}    
   
 .navbar-brand img {
	width: 80px;
}      
nav ul {
	text-align: center;
	background: #fff;
    margin: 10px 0;
    padding: 15px 0;
}   
element.style {
    margin: 10px 0;
    padding: 15px 0;
}
nav ul li {
    margin-right: 0px;
}
nav ul li a {
    font-size: 15px !important;
    font-family: 'EB Garamond', serif;
    padding: 5px 0 !important;
    color: #000;
    position: relative;
}
nav ul li a:hover::after {
	display: none;
}         
/*   ===========navber part responsive end=========== */    
    
/*   ===========banner part responsive end=========== */
#banner-part element {
	width: auto;
	padding: 10px;
	padding-right: 0px;
}       
#banner-part {
	width: 100%;
}         
 #banner-bottom {
	display: none;
}       
#banner-part .banner-slider .banner-overlay .text h3 {
	font-size: 25px;
	font-weight: 500;
}       
#banner-part .banner-slider .banner-overlay .text h2 {
	font-size: 30px;
	font-weight: 500;
}       
#banner-part .banner-slider .banner .banner-overlay .text p {
	font-size: 14px;
	width: auto;
} 
.title {
    margin: 25px 0;
}
.banner-slider .prev {
	width: 35px;
	height: 35px;
	top: 92%;
	left: 55px;
	line-height: 35px;
	font-size: 18px;
}       
.banner-slider .next {
	width: 35px;
	height: 35px;
	top: 92%;
	line-height: 35px;
    margin-right: 42px;
	font-size: 18px;
}     
#banner-part .banner-slider .batton {
	margin-top: 40px;
}     
#banner-part .banner-slider .batton a {
	padding: 10px;
	font-size: 12px;
	margin: 10px;
}       
#banner-part .banner-slider .banner .banner-overlay {
	padding-top: 160px;
	padding-bottom: 70px;
}       
/*   ===========banner part responsive end=========== */        

/*   ===========about part responsive start=========== */     
#about-part{
    padding-top: 0px;
}    
#about-part .row .round {
	display: none;
}   
#about-part .row .item-top {
    padding: 25px 15px;
    margin: 0px;
}       
#about-part .row .item-top h3 {
	font-size: 15px;
	font-weight: 600;
}   
 #about-part .row .item-top p {
	width: auto;
	font-size: 12px;
	margin-top: 20px;
}    
#about-part .title p {
	font-size: 12px;
	width: auto;
	margin-top: 10px;
}     
 #about-part .row .item-top i{
    display: none;
}        
.offset-4 {
	margin-left: 0px;
}   
#about-part .row .item-left {
    width: auto;
    padding: 25px 15px;
    text-align: center;
    margin-left: 0;
    height: 270px;
}  
  
#about-part .row .item-left h3 {
	font-size: 15px;
	font-weight: 600;
	padding-top: 15px;
	text-align: center;
	width: auto;
	height: 80px;
}   
#about-part .row .item-left p {
	width: auto;
	text-align: center;
	margin-top: -35px;
	font-size: 12px;
}   
#about-part .row .shape-top{
    display: none;
}     
#about-part .right {
    padding: 15px;
}     
#about-part .row .item-right .shape-right {
	display: none;
}  
#about-part .row .item-right i {
	display: none;
}   
#about-part .row .shape-bottom{
    display: none;
}   
#about-part .row .item-left .shape-left {
	display: none;
}    
#about-part .shape-top i{
    display: none;
}    
#about-part .row .item-left i {
	display: none;
}   
#about-part .row .item-right {
	padding: 25px 15px;
    margin: 25px 0;
	width: auto;
    height: 260px;

}     
 #about-part .row .item-right h3 {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}   
#about-part .row .item-right p {
	width: auto;
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 20px;
	margin-right: 12px;
}      
 #about-part .row .item-bottom {
	padding: 25px 15px;
    margin: 15px 0;
	text-align: center;
}       
#about-part .row .item-bottom p {
	font-size: 12px;
}   
#about-part .row .item-bottom i{
    display: none;
}   
/*   ===========about part responsive end=========== */

 /*   ===========portfolio part responsive start=========== */ 
 #portfolio-bottom-part {
    display: none;
}   
 #portfolio-top-part {
	margin-top: -31px;
    display: none;
}        
#portfolio-part{
	margin-top: 20px;
}     
#portfolio-part .overlay {
	margin-top: 0;
	padding: 20px 0;
}       
#portfolio-part .overlay .title {
	margin-bottom: 0px;
}    
#portfolio-part .title p {
    font-size: 14px;
    width: auto;
    margin-top: 10px;
}      
#portfolio-part .item:nth-child(2n) {
	padding-bottom: 10px;
}        
/*   ===========portfolio part responsive end=========== */     
     
/*   ===========service part responsive start=========== */    
  #service-part {
    margin: 35px 0;
    width: 100%;
    position: relative;
    background: #fff;
	padding-top: 0;
} 
#service-part .service .title h3 {
    font-size: 14px;
    padding: 5px;
} 
#service-part .service-slider{
    margin: 25px 0;
}
#service-part .title p {
    width: auto;
    margin: 10px 15px;
    font-size: 13px;
}    
#service-part .slick-current .round {
	transform: scale(1.5);
}       
 #service-part .service .images {
    margin: 10px auto;
	flex-direction: column;
}    
 #service-part .service:nth-child(odd) {
	flex-direction: column;
}
#service-part .service:nth-child(2n) {
	flex-direction: column;
}       
#service-part .service .text .shape {
	display: none;
}    
#service-part .service .text {
	width: 100%;
	padding: 20px 15px;
    margin-top: 50px;
}       
#service-part .service .title {
	width: 100%;
	justify-content: center;
	background: orange;
	border-radius: 5px;
}
#service-part .service .text p:nth-child(odd) {
    width: auto;
    text-align: center;
}
#service-part .line {
	height: 510px;
	top: 152px;
} 
.service-slider .prev {
	top: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}   
.service-slider .next {
    bottom: -27px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}    
 /*   ===========service part responsive end=========== */    
    
/*   ===========teem part responsive start=========== */ 
#teem2-part .member:hover .text {
	height: 41%;
}
#teem-top-part {
	height: 57px;
}        
#teem-top-part .teem {
    display: none;
}
#teem-part {
	margin-top: -20px;
    height: 600px;
} 
#teem-part .overlay .line {
	display: none;
}       
#teem-part .overlay .img-slider .prev {
	top: -35%;
    font-size: 16px;
    left: 50%;
}       
#teem-part .overlay .img-box {
	margin-top: -90px;
}       
#teem-part .overlay .img-slider .next {
	top: 449px;
	left: 50%;
	font-size: 16px;
}   
#teem-part .overlay .text-box .text-slider {
	width: 270px;
    top: 60%;
}       
#teem-part .overlay .text-box {
	width: 850px;
	height: 80%;
	position: unset;
}       
#teem-part .overlay .text-box .text-slider .text {
    height: 100%;
    width: auto;
    padding: 20px 0;
}
#teem-part .overlay .text-box .text-backround {
	border-radius: 5px;
}       
#teem-part .overlay .text-box .text-slider .text h3 {
	font-size: 18px;
	text-align: center;
}    
#teem-part .overlay .text-box .text-slider .text .icon{
	font-size: 15px;
	text-align: center;
}       
#teem-part .overlay .text-box .text-slider .text h5 {
	font-size: 14px;
	text-align: center; 
}       
#teem-part .overlay .text-box .text-slider .text p {
	font-size: 12px;
	text-align: center;
    width: auto;
    padding: 6px;
}        
#teem-part .overlay .text-box .shape {
	width: 25px;
	height: 25px;
	left: 27px;
	border-radius: 5px;
    display: none;
}       
 #teem-bottom-part {
	height: 30px;
	display: none;
}   
#teem-part .overlay .text-box .signatuer img {
	margin: -5px auto;
	width: 85px;
    position: unset;
}   
 /*   ===========teem part responsive end=========== */    
           
/*   ===========praicing part responsive start=========== */ 
 #praicing-part .title h2 {
	font-weight: 600;
	font-size: 18px;
    margin-top: 0px;
}     
#praicing-part {
	padding-top: 0px;
}    
#praicing-part .title p {
	width: auto;
	margin: 10px auto;
	font-size: 13px;
}      
#praicing-part .row .top {
	width: 95%;
	margin-bottom: 25px !important;
	margin: 0 auto;
}       
#praicing-part .row .midel {
	width: 95%;
	margin-bottom: 25px !important;
	margin: 0 auto;
}
#praicing-part .row .bottom {
	width: 95%;
	margin-bottom: 25px !important;
	margin: 0 auto;
}
 /*   ===========praicing part responsive end=========== */    
         
/*   ===========counter part responsive start=========== */    
#counter-part {
	margin-top: 10px;
    height: 100%;
	transform: rotate(0deg);
}
#counter-part .overlay {
	padding: 30px 15px;
}
#counter-top-part {
	height: 25px;
	margin-top: 10px;
}       
#counter-bottom-part {
	height: 25px;
	margin-top: 17px;
	display: none;
}    
#counter-part .rotet .item p {
	font-size: 17px;
}    
 /*   ===========counter part responsive end=========== */    
       
/*   ===========teem2 part responsive start=========== */ 
    
#teem2-part {
	margin: 30px -0px 50px 0;
}    
#teem2-part .title p {
	width: auto;
	margin: 10px auto;
	font-size: 13px;
}       
#teem2-part .member .img {
	width: 100%;
	height: 100%;
}
#teem2-part .row > * {
	width: 100%;
	height: 350px;
	margin-bottom: 50px;
}      
#teem2-part .member {
	width: 100%;
	height: 100%;
}       
 #teem2-part .member .name h4 {
	font-size: 15px;
}   
#teem2-part .member .name p {
	font-size: 12px;
}      
#teem2-part .member .icon {
	display: none;
}       
 /*   ===========teem2 part responsive end=========== */    
       
  /*   ===========document-top part responsive start=========== */     
  #document-top-part {
	display: none;
}  
#document-bottom-part h4 {
	font-size: 12px;
	padding: 10px;
}
#document-bottom-part h5 {
	font-size: 12px;
	margin-right: -110%;
	margin-top: -26px;
}
  /*   ===========document-top part responsive end=========== */  
    
 /*   ===========document part responsive start=========== */      
#document-part .slider-box {
	transform: rotate(0deg);
}      
 #document-part {
	margin-top: 60px;
    height: 120px;
	padding: 20px 10px;
}    
#document-part .slick-slide img {
	width: 95%;
	margin: auto;
}     
#document-part .item {
    height: 100%;
	margin-top: 0;
}
#document-part .item .img {
	margin: 0 auto;
	width: 70%;
	padding: 0;
}       
/*   ===========document part responsive end=========== */     
   
/*   ===========document bottom part responsive start=========== */         
 #document-bottom-part img{
	width: 60%;
}    
#document-bottom-part {
	height: 100%;
    margin-top: 0px;
    transform: skewY(0deg);
}    
#document-bottom-part .img {
	left: 38%;
	top: 35px;
	transform: rotate(2deg);
}       
#document-bottom-part .big-shape {
	top: 85px;
    height: 1px;
	transform: rotate(0deg);
}      
 #document-bottom-part .title h3 {
	font-size: 20px;
}      
#document-bottom-part .icon a i {
	height: 25px;
	width: 25px;
	line-height: 25px;
	font-size: 13px;
}     
#document-bottom-part .title {
	width: auto;
	margin: 20px auto;
	border-bottom: 1px solid #fff;
}     
#document-bottom-part .shape {
	margin-top: -34px;
    display: none;
}        
#document-bottom-part .icon {
	margin-top: -20px;
}    
 #document-bottom-part p {
	font-size: 15px;
	width: auto;
	margin-left: 0px;
	text-align: center;
}
#document-bottom-part .githublink {
    margin-left: 60px;
}     
 #document-bottom-part .location {
	margin-top: 50%;
    
}       
 #document-bottom-part .location i {
	margin-left: 45%;
	margin-top: -35px;
	height: 30px;
	width: 30px;
    font-size: 15px;
	line-height: 30px;
}
 #document-bottom-part .phone {
	margin-top: 60%;
}      
 #document-bottom-part .phone i {
	margin-left: 45%;
	margin-top: -35px;
	height: 30px;
	width: 30px;
    font-size: 15px;
	line-height: 30px;
}
#document-bottom-part .massage {
	margin-top: -54%;
}       
#document-bottom-part .massage i {
	margin-left: 45%;
	margin-top: -35px;
	height: 30px;
	width: 30px;
    font-size: 15px;
	line-height: 30px;
}
 #document-bottom-part .interner {
	margin-top: 20%;
}   
 #document-bottom-part .interner i {
	margin-left: 45%;
	margin-top: -35px;
	height: 30px;
	width: 30px;
    font-size: 15px;
	line-height: 30px;
}
 /*   ===========document bottom part responsive end=========== */      
    
  /*   ===========frome part responsive start=========== */     
.fotter{
    display: none;
}
#frome-part .main {
	display: block;
}
#frome-part .message textarea {
    height: 200px;
}
#frome-part .main input::placeholder {
	font-size: 13px;
}
#frome-part .main input {
	width: 100%;
    margin: 10px 0;
}      
#frome-part .title img {
	width: 100px;
}   
#frome-part .title h2 {
	margin-top: 0px;
	padding-top: 0;
	font-size: 16px;
	margin-bottom: -5px;
}  
#frome-part a {
	font-size: 13px;
	margin-left: -14%;
	margin-top: 0;
	height: 30px;
	width: 70px;
	line-height: 15px;
}   
#frome-part .btn {
	position: absolute;
	margin-left: 37%;
}    
.backtotop {
	padding: 10px;
	bottom: 52px;
	right: 5px;
}  
  /*   ===========frome part responsive end=========== */  
     
}

@media (min-width:576px) and (max-width:767px){
    
/*   ===========navber part responsive start=========== */       
.fixed-top {
	position: absolute;
}
.navbar-toggler i {
	color: #fff;
	font-size: 22px;
}       
 .navbar-brand img {
	width: 100px;
	padding-left: 10px;
}      
nav ul {
	text-align: center;
	background: #0f2;
    padding: 10px 0;
}   
  nav ul li {
	margin-right: 0px;
    padding: 5px 0;
}     
nav ul li a {
	font-size: 14px !important;
	padding: 5px 0 !important;
    color: #000;
}      
/*   ===========navber part responsive end=========== */   
    
/*   ===========banner part responsive start=========== */    
 #banner-bottom {
	display: none;
}       

#banner-part .banner-slider .banner-overlay .text h3 {
	font-size: 27px;
	font-weight: 500;
}       
#banner-part .banner-slider .banner-overlay .text h2 {
	font-size: 30px;
	font-weight: 500;
}        
#banner-part .banner-slider .banner .banner-overlay .text p {
	font-size: 14px;
	width: auto;
} 
#banner-part .banner-slider .banner .banner-overlay {
	padding-top: 170px;
	padding-bottom: 90px;
}        
.banner-slider .prev {
	width: 40px;
	height: 40px;
	top: 89%;
	left: 55px;
	line-height: 40px;
	font-size: 18px;
}        
.banner-slider .next {
	width: 40px;
	height: 40px;
	top: 89%;
	line-height: 40px;
    margin-right: 42px;
	font-size: 18px;
}     
#banner-part .banner-slider .batton {
	margin-top: 40px;
}      
#banner-part .banner-slider .batton a {
	padding: 10px;
	font-size: 14px;
	margin: 0 10px;
}        
/*   ===========banner part responsive end=========== */    
   
/*   ===========about part responsive start=========== */ 
#about-part{
    padding-top: 0px;
}       
 #about-part .title h2 {
	font-weight: 600;
	font-size: 22px;
	margin-top: 20px;
}       
#about-part .title p {
	font-size: 14px;
	width: 420px;
	margin: 0 auto;
	margin-top: 20px;
}        
#about-part .offset-4 {
	margin-left: 23.333%;
	padding-right: 0;
}    
#about-part .row .item-top {
	height: 200px;
	padding: 10px;
	width: 50%;
	box-sizing: border-box;
	border-radius: 5px;
}  
#about-part .row .item-top h3{
    font-size: 16px;
}    
#about-part .row .item-top p {
	font-size: 11px;
	padding: 10px;
    margin-top: 0;
}    
#about-part .row .item-top .shape-top {
	margin-top: 5%;
	margin-left: 38%;
	height: 35px;
}    
#about-part .row .item-top i {
	margin-top: 14.5%;
	margin-left: -5px;
	font-size: 11px;
}   
#about-part .row .round {
	height: 150px;
	width: 150px;
	padding: 10px;
	position: absolute;
	margin-top: -30%;
	margin-left: 32%;
}     
 #about-part .row .item-left {
	height: 185px;
	padding: 10px;
	width: 35%;
	margin-top: 13px;
	border-radius: 5px;
	position: absolute;
	margin-left: -20px;
	position: relative;
}   
#about-part .row .item-left h3 {
	font-size: 16px;
	text-align: left;
	margin-left: 35px;
    padding-top: 0px;
    width: auto;
    height: 0;
}    
#about-part .row .item-left p {
	font-size: 9px;
	padding: 10px;
    margin-top: 0;
    width: auto;
    text-align: right;
    margin-top: 18px;
}            
#about-part .row .item-left .shape-left {
	width: 25px;
	height: 25px;
	margin-top: -59%;
	margin-left: 170px;
}    
    
#about-part .row .item-left i {
	margin-left: 28px;
	margin-top: -17px;
	text-align: right;
	font-size: 12px;
}    
#about-part .row .item-left {
	text-align: right !important;
}    
#about-part .row .item-right {
	height: 185px;
	padding: 10px;
	width: 35%;
    margin-top: -185px;
	border-radius: 5px;
	margin-left: 69%;
	position: relative;
}    
#about-part .row .item-right h3{
    font-size: 16px;
    text-align: center;
}    
#about-part .row .item-right p {
	font-size: 9px;
	padding: 10px;
    margin-top: 0;
    width: auto;
}    
#about-part .row .item-right .shape-right {
	width: 25px;
	height: 25px;
	margin-top: 7%;
	position: absolute;
	left: -12px;
}     
#about-part .row .item-right i {
	margin-top: 31%;
	margin-left: -118px;
	font-size: 11px;
}        
#about-part .row .item-bottom {
	height: 200px;
	padding: 10px;
	width: 50%;
	box-sizing: border-box;
	border-radius: 5px;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}  
#about-part .row .item-bottom h3 {
	font-size: 16px;
	position: absolute;
	z-index: 1;
}   
#about-part .row .item-bottom p {
	font-size: 11px;
	padding: 24px;
	margin-top: 0;
	position: absolute;
}   
#about-part .row .item-bottom .shape-bottom {
	margin-top: -12%;
}   
#about-part .row .item-bottom i {
	margin-top: -22.5%;
	margin-left: -5px;
	font-size: 11px;
}    
/*   ===========about part responsive end=========== */    
    
/*   ===========portfolio part responsive start=========== */
#portfolio-top-part {
	margin-top: 12px;
}      
#portfolio-part .title p {
	width: 380px;
    margin-top: 15px;
}        
#portfolio-part .item .img {
	margin: 0;
}   
#portfolio-part .title h2 {
	font-size: 22px;
	padding-top: 20px;
}       
 #portfolio-part .overlay {
	padding: 20px 0;
	padding-bottom: 0px;
	margin-top: -230px;
}      
  #portfolio-part .overlay .row > * {
    width: 50%;
	padding-bottom: 50px;
}      
/*   ===========portfolio part responsive end=========== */
    
/*   ===========service part responsive start=========== */    
#service-part .title h2 {
	font-size: 22px;
	padding-top: 20px;
}         
#service-part {
    background: gainsboro;
	padding-top: 0;
	padding-bottom: 60px;
}   
#service-part .service .title h3 {
	font-size: 18px;
	margin-left: 35px;
	padding: 10px;
}
#service-part .title p {
	width: auto;
	margin: 20px;
	font-size: 13px;
	margin-top: 10px;
}    
#service-part .slick-current .round {
	transform: scale(1.5);
}       
 #service-part .service .images {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}     
 #service-part .service:nth-child(odd) {
	flex-direction: column;
}
  
#service-part .service:nth-child(2n) {
	flex-direction: column;
}       
#service-part .service .text .shape {
	display: none;
}     
#service-part .service .text {
	height: 170px;
	width: 100%;
	padding: 24px 25px;
	margin-top: 55px;
	font-size: 17px;
	text-align: center;
}       
#service-part .service .title {
	width: 50%;
	background: orange;
	border-radius: 5px;
	margin-left: 23%;
    margin-top: 4%;
}   
#service-part .service .round {
	margin-top: -1%;
	transition: .4s;
}        
#service-part .line {
	height: 477px;
	top: 149px;
}    
.service-slider .prev {
	top: -26px;
    font-size: 20px;
}     
.service-slider .next {
	bottom: -39px;
    font-size: 20px;
}    
/*   ===========service part responsive end=========== */    
   
/*   ===========teem part responsive start=========== */    
#teem-top-part .teem {
	height: 50px;
	margin-top: 18px;
	transform-origin: bottom left;
}  
#teem-top-part {
	margin-top: 15px;
}            
  #teem-part {
	margin-top: 50px;
    height: 600px;
}  
#teem-part .overlay .line {
	top: 74px;
	left: 50%;
	height: 456px;
}       
#teem-part .overlay .img-slider .prev {
	top: -36%;
	font-size: 18px;
	left: 50%;
}      
#teem-part .overlay .img-box {
	margin-top: -90px;
}        
#teem-part .overlay .img-slider .next {
	top: 449px;
	left: 50%;
	font-size: 18px;
}    
#teem-part .overlay .text-box .text-slider {
	width: auto;
    top: 60%;
}       
#teem-part .overlay .text-box {
	width: 850px;
	height: 80%;
	position: unset;
}       
 #teem-part .overlay .text-box .text-slider .text {
	height: 250px;
	width: auto;
    margin-top: 14.5px;
}
#teem-part .overlay .text-box .text-backround {
	border-radius: 5px;
}        
#teem-part .overlay .text-box .text-slider .text h3 {
	font-size: 18px;
	text-align: center;
}    
#teem-part .overlay .text-box .text-slider .text .icon{
	font-size: 15px;
	text-align: center;
}        
#teem-part .overlay .text-box .text-slider .text h5 {
	font-size: 14px;
	text-align: center; 
}       
#teem-part .overlay .text-box .text-slider .text p {
	font-size: 12px;
	text-align: center;
    width: auto;
    padding: 10px;
}        
#teem-part .overlay .text-box .shape {
	width: 25px;
	height: 25px;
	left: 27px;
	border-radius: 5px;
    display: none;
}        
 #teem-bottom-part {
	height: 30px;
} 
#teem-part .overlay .text-box .signatuer img {
	margin: -5px auto;
	width: 85px;
    position: unset;
}       
/*   ===========teem part responsive end=========== */  
    
  /*   ===========praicing part responsive start=========== */ 
 #praicing-part .title h2 {
	font-weight: 600;
	font-size: 18px;
    margin-top: 0px;
}     
#praicing-part {
	padding-top: 0px;
}    
#praicing-part .title p {
	margin: 10px auto;
	font-size: 13px;
}       
#praicing-part .row .top {
	width: 100%;
	margin-bottom: 25px !important;
}       
#praicing-part .row .midel {
	width: 100%;
	margin-bottom: 25px !important;
} 
#praicing-part .row .bottom {
	width: 100%;
	margin-bottom: 25px !important;
}     
 #praicing-part .row {
	display: block;
}           
/*   ===========praicing part responsive end=========== */    
 
/*   ===========counter part responsive start=========== */       
#counter-top-part {
	margin-top: 0px;
}        
  #counter-part {
	height: 100%;
	padding: 10px 0;
}       
 #counter-part .overlay {
	height: 100%;
    padding: 40px 0;
}    
#counter-part .rotet .item p {
	font-size: 16px;
}      
/*   ===========counter part responsive end=========== */     
    
  /*   ===========teem2 part responsive start=========== */     
#teem2-part  .title h2 {
	font-size: 22px;
}       
#teem2-part  .row > * {
	width: 50%;	
}     
#teem2-part {
	margin-top: 0px;
	margin-bottom: 60px;
}    
  /*   ===========teem2 part responsive end=========== */    
      
 /*   ===========document part responsive start=========== */      
 #document-top-part {
	display: none;
}     
 #document-part {
	margin-top: -25px;
    height: 120px;
}   
#document-part .slider-box {
	transform: rotate(0deg);
} 
#document-part .slick-slide img {
	width: 65%;
	margin: auto;
}      
#document-part .item {
	margin-top: 30px;
	height: 66px;
	padding: 8px;
	width: 172.8px !important;
} 
    
/*   ===========document part responsive end=========== */     
 

/*   ===========document bottom part responsive start=========== */     
 #document-bottom-part img{
	width: 80%;
} 
    
    
#document-bottom-part {
	height: 100%;
	margin-top: -15px;
}       
 #document-bottom-part .title h3 {
	font-size: 20px;
    border-bottom: 1px solid;
}       
#document-bottom-part a i {
	margin-left: 20%;
	margin-top: -40px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 15px;
}    
#document-bottom-part .icon a {
    margin-top: -30px;
    height: 60px;
}    
#document-bottom-part .img {
	left: 45%;
	top: 35px;
	transform: rotate(2deg);
}       
#document-bottom-part .big-shape {
	top: 100px;
	transform: rotate(0deg);
    height: 1px;
}    
 #document-bottom-part .location {
	margin-top: 35%;
}      
#document-bottom-part .location i {
	margin-left: 20%;
	margin-top: -45px;	
}           
#document-bottom-part .location p {
	font-size: 16px;
	margin-left: 0px;
}      
 #document-bottom-part .location .shape {
	margin-top: -42px;
    height: 85px;
}        
 #document-bottom-part .phone {
	margin-top: 15%;
}      
#document-bottom-part .phone p {
	font-size: 16px;
	width: 90%;
	margin-left: 0px;
}       
#document-bottom-part .phone a {
	width: 50%;
}    
#document-bottom-part .phone i {
	margin-left: 20%;
	margin-top: -45px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 15px;
}  
#document-bottom-part .phone .shape {
	height: 80px;
	margin-top: -37px;
	margin-left: -18px;
}       
#document-bottom-part .massage {
	margin-top: -34%;
	margin-left: 42% !important;
} 
#document-bottom-part .massage i {
	margin-left: 50%;
	margin-top: -45px;
}  
#document-bottom-part .massage a {
	width: 100%;
}    
#document-bottom-part .massage p {
	font-size: 16px;
	width: auto;
	margin-left: 70px;
}       
#document-bottom-part .massage .shape {
	height: 77px;
	margin-top: -30px;
    display: none;
}      
 #document-bottom-part .interner {
	margin-top: -10%;
	margin-left: 42%;
}   
#document-bottom-part .interner i {
	margin-left: 50%;
	margin-top: -45px;
}    
 
#document-bottom-part .interner a {
	width: 100%;
}       
#document-bottom-part .interner p {
	font-size: 16px;
	width: auto;
	margin-left: 70px;
}       
#document-bottom-part .internet .shape {
	height: 77px;
	margin-top: -30px;
}        
 #document-bottom-part .title {
	margin-top: 50px;
}  
#document-bottom-part {
	margin-top: 0px;
	transform: skewY(0deg);
}    
 /*   ===========document bottom part responsive end=========== */  
         
  /*   ===========frome part responsive start=========== */     
.fotter{
    display: none;
}  
#frome-part .main input {
	margin: 2px;
}
#frome-part .main input::placeholder {
	font-size: 12px;
}    
#frome-part .title img {
	width: 100px;
}     
#frome-part .title h2 {
	margin-top: 0px;
	padding-top: 0;
	font-size: 16px;
	margin-bottom: -5px;
}  
#frome-part a {
	font-size: 15px;
	margin-left: -14%;
	margin-top: 0;
	height: 30px;
	width: 70px;
	line-height: 15px;
}   
#frome-part .btn {
	margin-left: 12%;
}         
 #frome-part .message textarea {
	font-size: 20px;
}   
  /*   ===========frome part responsive end=========== */                
}    

@media (min-width:768px) and (max-width:991px){
    
/*   ===========navber part responsive start=========== */    
.fixed-top {
	width: 25%;
}    
.navbar-toggler i {
	color: #fff;
	font-size: 22px;
}       
 .navbar-brand img {
	width: 100px;
	padding-left: 10px;
}       
nav ul {
	text-align: center;
	background: #0f2;
    padding: 10px 0;
}    
  nav ul li {
	margin-right: 0px;
    padding: 5px 0;
}     
nav ul li a {
	font-size: 14px !important;
	padding: 5px 0 !important;
    color: #000;
}     
nav {
	border-bottom: 1px solid rgba(248, 171, 26, 0.82);
}     
/*   ===========navber part responsive end=========== */   
   
/*   ===========banner part responsive start=========== */    
        
.fixed-top {
	width: 100%;
}      
 #banner-part .title{
    margin-top: 15px;
}   

#banner-part .banner-slider .banner-overlay .text h3 {
	font-size: 27px;
	font-weight: 500;
}        
#banner-part .banner-slider .banner-overlay .text h2 {
	font-size: 30px;
	font-weight: 500;
}      
#banner-part .banner-slider .banner .banner-overlay .text p {
	font-size: 14px;
} 
#banner-part .banner-slider .banner .banner-overlay {
	padding-top: 170px;
	padding-bottom: 90px;
}        
.banner-slider .prev {
	width: 40px;
	height: 40px;
	top: 89%;
	left: 55px;
	line-height: 40px;
	font-size: 18px;
}        
.banner-slider .next {
	width: 40px;
	height: 40px;
	top: 89%;
	line-height: 40px;
    margin-right: 42px;
	font-size: 18px;
}    
#banner-part .banner-slider .batton {
	margin-top: 40px;
}      
#banner-part .banner-slider .batton a {
	padding: 10px;
	font-size: 14px;
	margin: 0 10px;
}      
 #banner-bottom {
	display: none;
}            
/*   ===========banner part responsive end=========== */    
       
/*   ===========about part responsive start=========== */ 
#about-part{
    padding-top: 0px;
}   
#about-part .title h2 {
	font-weight: 600;
	font-size: 24px;
    margin-top: 20px;
}         
#about-part .title p {
	font-size: 14px;
	width: 420px;
	margin: 0 auto;
	margin-top: 20px;
}        
#about-part .offset-4 {
	margin-left: 23.333%;
	padding-right: 0;
}    

#about-part .row .item-top {
	height: 150px;
	padding: 10px;
	width: 50%;
	box-sizing: border-box;
	border-radius: 5px;
}  
#about-part .row .item-top h3{
    font-size: 16px;

}    
#about-part .row .item-top p {
	font-size: 11px;
	padding: 10px;
    margin-top: 0;
}     
#about-part .row .item-top .shape-top {
	margin-top: -6px;
	margin-left: 41%;
	transform: rotate(45deg);
}    
#about-part .row .item-top i {
	margin-top: 12%;
	margin-left: -6px;
	font-size: 11px;
}  
#about-part .row .round {
	height: 150px;
	width: 150px;
	padding: 10px;
	position: absolute;
	margin-top: -22%;
	margin-left: 35%;
}    
 #about-part .row .item-left {
	height: 185px;
	padding: 10px;
	width: 38%;
	margin-top: 13px;
	border-radius: 5px;
	position: absolute;
	margin-left: -20px;
	position: relative;
    text-align: right !important;
}   
#about-part .row .item-left h3 {
	font-size: 16px;
	text-align: center;
	margin-left: 35px;
    padding-top: 0px;
    width: auto;
    height: 0;
}    
#about-part .row .item-left p {
	font-size: 11px;
	padding: 10px;
    margin-top: 0;
    width: auto;
    text-align: right;
    margin-top: 18px;
}            
#about-part .row .item-left .shape-left {
	width: 25px;
	height: 25px;
	margin-top: -35%;
	margin-left: 104%;
}    
#about-part .row .item-left i {
	margin-left: 29px;
	margin-top: -19px;
	text-align: right;
	font-size: 12px;
} 
#about-part .row .item-right {
	height: 185px;
	padding: 10px;
	width: 40%;
	margin-top: -185px;
	border-radius: 5px;
	margin-left: 63%;
	position: relative;
}    
#about-part .row .item-right h3{
    font-size: 18px;
    text-align: center;
}    
#about-part .row .item-right p {
	font-size: 11px;
	padding: 10px;
    margin-top: 0;
    width: auto;
}     
#about-part .row .item-right .shape-right {
	width: 25px;
	height: 25px;
	margin-top: 5%;
	position: absolute;
	left: -10px;
}     
#about-part .row .item-right i {
	margin-top: 19%;
	margin-left: -161px;
	font-size: 12px;
}       
#about-part .row .item-bottom {
	height: 150px;
	padding: 10px;
	width: 50%;
	box-sizing: border-box;
	border-radius: 5px;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
} 
#about-part .row .item-bottom h3 {
	font-size: 16px;
	position: absolute;
	z-index: 1;
}   
#about-part .row .item-bottom p {
	font-size: 11px;
	padding: 24px;
	margin-top: 0;
	position: absolute;
}    
#about-part .row .item-bottom .shape-bottom {
	margin-top: -8%;
}   
#about-part .row .item-bottom i {
	margin-top: -16.5%;
	margin-left: -5px;
	font-size: 11px;
}    
/*   ===========about part responsive end=========== */   
 
/*   ===========portfolio top part responsive start=========== */
#portfolio-top-part {
	margin-top: 35px;
} 

#portfolio-bottom-part{
        height: 50px;
    }
/*   ===========portfolio top part responsive start=========== */

/*   ===========portfolio part responsive start=========== */
   
#portfolio-part .title h2 {
	font-size: 24px;
}      
#portfolio-part .title p {
	width: 380px;
    margin-top: 15px;
}        
#portfolio-part .item .img {
	margin: 0;
}  
#portfolio-part .overlay .title {
	padding-top: 15px;
}        
 #portfolio-part .overlay {
	padding: 25px 0;
}      
  #portfolio-part .overlay .row > * {
    width: 50%;
}      
/*   ===========portfolio part responsive end=========== */
    
/*   ===========service part responsive start=========== */    
#service-part {
	padding-top: 0;

}
#service-part .line {
	height: 270px;
	top: 176px;
}    
#service-part .service .title:nth-child(2n+1) {
	justify-content: center;
	margin-top: 19%;
}        
 #service-part .title h2 {
	font-size: 23px;
	padding-top: 20px;
}     
#service-part .service .title h3 {
    font-size: 20px;
}       
#service-part .service .text .shape {
	top: 35%;
	left: 91%;
	
}        
 #service-part .service {
	padding: 9px;
	justify-content: space-between;
}   
    
#service-part .slick-current .round {
	transform: scale(1.5);
}       
 #service-part .service-slider .prev {
	top: -19px;
}       
  #service-part .service-slider .next {
	bottom: -51px;
}      
/*   ===========service part responsive end=========== */    
        
/*   ===========teem part responsive start=========== */           
#teem-top-part {
	height: 57px;
	display: none;
}           
  #teem-part {
	margin-top: 90px;
    height: 600px;
}  
#teem-part .overlay .line {
	top: 60px;
	left: 18.5%;
	height: 470px;
}    
#teem-part .overlay .img-slider .prev {
	top: -16.6%;
    font-size: 16px;
    left: 49.8%;
}       
#teem-part .overlay .img-box {
	margin-top: -80px;
	margin-left: -70%;
}   
#teem-part .overlay .img-slider .next {
	top: 437px;
	left: 49.8%;
	font-size: 16px;
}   
#teem-part .overlay .text-box .text-slider {
	width: 270px;
    top: 60%;
}        
#teem-part .overlay .text-box {
	width: 850px;
	height: 80%;
	margin-top: -55%;
	margin-left: 20%;
}  
 #teem-part .overlay .text-box .text-slider .text {
	height: 250px;
	width: auto;
    margin-top: 14px;
} 
#teem-part .overlay .text-box .text-backround {
	border-radius: 5px;
}        
#teem-part .overlay .text-box .text-slider .text h3 {
	font-size: 18px;
	text-align: center;
}     
#teem-part .overlay .text-box .text-slider .text .icon{
	font-size: 15px;
	text-align: center;
}        
#teem-part .overlay .text-box .text-slider .text h5 {
	font-size: 14px;
	text-align: center;
    
}        
#teem-part .overlay .text-box .text-slider .text p {
	font-size: 12px;
	text-align: center;
    width: auto;
    padding: 10px;
}         
#teem-part .overlay .text-box .shape {
	width: 25px;
	height: 25px;
	left: 27px;
	border-radius: 5px;
    display: none;
}       
 #teem-bottom-part {
	height: 45px;
	display: none;
}   
#teem-part .overlay .text-box .signatuer img {
	margin: -5px auto;
	width: 85px;
    position: unset;
}   
/*   ===========teem part responsive end=========== */  

  /*   ===========praicing part responsive start=========== */ 
 
  #praicing-part .title h2 {
	font-weight: 600;
	font-size: 23px;
	margin-top: 30px;
}      
#praicing-part {
	padding-top: 0px;
}    
#praicing-part .title p {
	margin: 10px auto;
	font-size: 13px;
}       
#praicing-part .row .top {
	width: 100%;
	margin-bottom: 70px !important;
}       
#praicing-part .row .midel {
	width: 100%;
	margin-bottom: 70px !important;
} 
#praicing-part .row .bottom {
	width: 100%;
	margin-bottom: 25px !important;
}     
 #praicing-part .row {
	display: block;
}       
#praicing-part .detals ul li {
	font-size: 20px;
}       
/*   ===========praicing part responsive end=========== */    
  
/*   ===========counter part responsive start=========== */         
  #counter-part {
	height: 176px;
	margin-top: -34px;
}        
 #counter-part .overlay {
	height: 100%;
    margin-top: 70px;
	padding: 35px 0px;
}    
 #counter-top-part {
	height: 50px;
	margin-top: 0px;
}       
#counter-part .rotet .item p {
	font-size: 16px;
}        
/*   ===========counter part responsive end=========== */     
      
  /*   ===========teem2 part responsive start=========== */     
 #teem2-part .title h2 {
	font-size: 24px;
}       
#teem2-part  .row > * {
	width: 50%;
	
}      
#teem2-part {
	margin: 20px 0 100px 0;
}    
 #document-top-part {
	margin-top: -64px;
}   
  /*   ===========teem2 part responsive end=========== */    
      
 /*   ===========document part responsive start=========== */      
 #document-top-part {
	height: 45px;
	margin-top: 0px;
	position: relative;
} 
 #document-part {
	margin-top: -30px;
    height: 100%;
}    
#document-part .slick-slide img {
	width: 65%;
	margin: auto;
}     
#document-part .item {
	margin-top: 40px;
	height: 66px;
	padding: 8px;
    width: 232.9px !important;
}     
/*   ===========document part responsive end=========== */     
   
/*   ===========document bottom part responsive start=========== */     
 #document-bottom-part img{
	width: 80%;
}   
#document-bottom-part {
	margin-top: -30px;
	height: 100%;
}      
 #document-bottom-part .title h3 {
	font-size: 20px;
    border-bottom: 1px solid;
}      
#document-bottom-part a i {
	margin-left: 20%;
	margin-top: -40px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 15px;
}   
#document-bottom-part .icon a {
    margin-top: -30px;
    height: 60px;
}    
#document-bottom-part .img {
	left: 45%;
	top: 35px;
	transform: rotate(2deg);
}       
#document-bottom-part .big-shape {
	top: 100px;
    height: 1px;
}    
 #document-bottom-part .location {
	margin-top: 27%;
	text-align: center;
}     
#document-bottom-part .location i {
	margin-left: 3%;
	margin-top: -45px;
	
}    
#document-bottom-part .location p {
	font-size: 16px;
	margin-left: 65px;
}        
 #document-bottom-part .location .shape {
	margin-left: 43px;
}      
 #document-bottom-part .phone {
	margin-top: 20%;
	text-align: center;
}      
#document-bottom-part .phone p {
	margin-left: 65px;
    margin-top: -70px;
}       
#document-bottom-part .phone a {
	width: 50%;
}    
#document-bottom-part .phone i {
	margin-left: 3%;
	margin-top: -115px;
}
#document-bottom-part .phone .shape {
	margin-top: -110px;
}        
#document-bottom-part .massage {
	margin-top: -27%;
	margin-left: 40% !important;
	text-align: center;
}
#document-bottom-part .massage i {
	margin-left: 10%;
	margin-top: -45px;
} 
#document-bottom-part .massage a {
	width: 100%;
}    
#document-bottom-part .massage p {
	width: auto;
	margin-left: 120px;
}      
#document-bottom-part .massage .shape {
	height: 77px;
	margin-top: -30px;
    display: none;
}      
 #document-bottom-part .interner {
	margin-top: -10%;
	margin-left: 40%;
	text-align: center;
}    
#document-bottom-part .interner i {
	margin-left: 10%;
	margin-top: -45px;
}    
#document-bottom-part .interner a {
	width: 100%;
}    
    
#document-bottom-part .interner p {
	width: auto;
	margin-left: 110px;
}       
#document-bottom-part .internet .shape {
	height: 77px;
	margin-top: -30px;
}       
 #document-bottom-part .title {
	margin-top: 10px;
}    
#document-part .slider-box {
	height: 150px;
}       
 /*   ===========document bottom part responsive end=========== */  
  
  /*   ===========frome part responsive start=========== */     

.fotter{
    display: none;
}  
#frome-part .main input {
	margin: 2px;
}
#frome-part .main input::placeholder {
	font-size: 12px;
}    
#frome-part .title img {
	width: 100px;
}     
#frome-part .title h2 {
	margin-top: 0px;
	padding-top: 0;
	font-size: 16px;
	margin-bottom: -5px;
}  
#frome-part a {
	font-size: 15px;
	margin-left: -12%;
	margin-top: 0;
	height: 30px;
	width: 70px;
	line-height: 15px;
}   
#frome-part .btn {
	margin-left: 12%;
}         
 #frome-part .message textarea {
	font-size: 20px;
}   
  /*   ===========frome part responsive end=========== */         
  .backtotop {
	padding: 15px;
}  
  
}  

@media (min-width:992px) and (max-width:1199px){
    
/*   ===========navber part responsive start=========== */ 
nav img{
	width: 100px;
	padding: 10px;
}

.fixed-top {
	position: relative; 
}
nav ul li {
	margin-right: 10px;
	
}
    
nav ul li a{
	font-size: 14px;
}    
/*   ===========navber part responsive end=========== */   
      
/*   ===========banner part responsive start=========== */              
 #banner-part .title{
    margin-top: 15px;
}   
#banner-part .banner-slider .banner-overlay .text h3 {
	font-size: 27px;
	font-weight: 500;
}       
#banner-part .banner-slider .banner-overlay .text h2 {
	font-size: 30px;
	font-weight: 500;
}        
#banner-part .banner-slider .banner .banner-overlay .text p {
	font-size: 14px;
	width: auto;
} 
#banner-part .banner-slider .banner .banner-overlay {
	padding-top: 170px;
	padding-bottom: 90px;
}        
.banner-slider .prev {
	width: 40px;
	height: 40px;
	top: 89%;
	left: 55px;
	line-height: 40px;
	font-size: 18px;
}       
.banner-slider .next {
	width: 40px;
	height: 40px;
	top: 89%;
	line-height: 40px;
    margin-right: 42px;
	font-size: 18px;
}     
#banner-bottom {
	display: none;
}       
#banner-part .banner-slider .batton {
	margin-top: 40px;
}     
#banner-part .banner-slider .batton a {
	padding: 10px;
	font-size: 14px;
	margin: 0 10px;
}    
/*   ===========banner part responsive end=========== */    
    
/*   ===========about part responsive start=========== */      
#about-part{
    padding-top: 0px;
}    
  #about-part .title h2 {
	font-size: 25px;
    padding-top: 20px;
}    
#about-part .title p {
	font-size: 14px;
}        
#about-part .row .round {
	height: 250px;
	width: 250px;
	padding: 20px;
}       
#about-part .row .item-top h3 {
	margin-top: -20px;
}    
 #about-part .row .item-top p {
	margin-top: 10px;
}      
 #about-part .row .item-top .shape-top {
	margin-top: 9%;
	margin-left: 36%;
}       
#about-part .row .item-top i {
	margin-top: 18%;
	margin-left: -7px;
	font-size: 14px;
}         
 #about-part .row .item-left {
	width: 300px;
	padding: 25px 20px;
	text-align: center;
	margin-top: 30px;
	margin-left: 2%;
	height: 250px;
}      
#about-part .row .item-left h3 {
	height: 80px;
	font-size: 18px;
	padding-top: 0px;
	text-align: center;
}       
#about-part .row .item-left p {
	width: auto;
	font-size: 13px;
    padding-bottom: 0;
    margin-top: -45px;
}    
    
#about-part .row .item-left .shape-left {
	margin-top: -37.5%;
	margin-left: 93%;
	position: absolute;
	z-index: -1;
}        
#about-part .row .item-left i {
	margin-left: 181px;
	margin-top: -99px;
	font-size: 14px;
}  
 #about-part .row .item-right {
	width: 300px;
	padding: 25px 20px;
	text-align: center;
	margin-top: 30px;
	height: 250px;
}     
 #about-part .row .item-right h3 {
	height: 15px;
	font-size: 18px;
	padding-top: 0px;
	text-align: center;
}        
 #about-part .row .item-right p {
	width: auto;
	font-size: 13px;
}        
 #about-part .row .item-right i {
	margin-left: -64.4%;
	margin-top: 12%;
	font-size: 14px;
}      
#about-part .row .item-bottom .shape-bottom {
	margin-top: -86%;
	margin-left: 43%;
	position: absolute;
	z-index: -1;
}   
#about-part .row .item-bottom i {
	margin-top: -93%;
	font-size: 14px;
}      
 #about-part .row .item-bottom h3 {
	margin-top: -20px;
}      
#about-part .row .item-bottom p {
	margin-top: 6px;
}       
/*   ===========about part responsive end=========== */      

 /*   ===========portfolio part responsive start=========== */     
 #portfolio-part .title h2 {
	font-size: 25px;
}     
#portfolio-top-part {
	height: 115px;
	margin-top: -29px;
}      
#portfolio-part {
	margin-top: 270px;
}
#portfolio-bottom-part {
	height: 65px;
}
 /*   ===========portfolio part responsive end=========== */      
    
 /*   ===========service part responsive start=========== */      
  #service-part .title h2 {
	font-size: 25px;
}     
 #service-part {
	padding-top: 0;
}   
#service-part .service:nth-child(2n+1) .text .shape {
	margin-left: -98%;
	width: 40px;
	height: 40px;
}      
#service-part .service .text p:nth-child(2n+1) {
	margin-left: 0px; 
}  
#service-part .line {
	height: 280px;
	top: 170px;
}     
.service-slider .next {
	bottom: -66px;
}
#service-part .service {
	padding: 35px;
}
 /*   ===========service part responsive end=========== */    
 /*   ===========teem part responsive start=========== */ 
#teem-top-part {
	display: none;
}            
 #teem-part {
	margin-top: 140px;
}      
 #teem-part .overlay {
	padding: 140px 0px;
}      
#teem-part .overlay .line {
	top: 100px;
	left: 135px;
	height: 477px;
}      
 #teem-part .overlay .alignment {
	margin-left: -3%;
    padding: 0px;
}     
#teem-part .overlay .img-slider .prev {
	top: -20%;
}       
#teem-bottom-part {
	height: 55px;
    display: none;
}  
#teem2-part .member .icon i {
	margin: 0 5px;
}
        
 /*   ===========teem part responsive end=========== */    
  
 /*   ===========praicing part responsive start=========== */      
#praicing-part {
	padding-top: 0;
}  
   
#praicing-part .title h2 {
	padding-top: 20px;
	font-size: 25px;
}     
 /*   ===========praicing part responsive end=========== */ 
    
/*   ===========counter part responsive start=========== */       
 #counter-part {
	height: 100%;
	width: 100%;
	margin-top: -62px;
}   
 #counter-part .overlay {
	height: 100%;
	margin-top: 108px;
	padding: 30px 0;
}     
#counter-top-part {
	height: 44px;
	margin-top: 43px;
}         
#counter-bottom-part {
	margin-top: 30px;
}          
 /*   ===========counter part responsive end=========== */    

  /*   ===========teem2 part responsive end=========== */        
#teem2-part {
	margin: 75px 0 41px 0;
}    
  #teem2-part .title h2 {
	font-size: 25px;
}  
    
   /*   ===========teem2 part responsive start=========== */   
    
/*   ===========document-bottom part responsive start=========== */    
#document-top-part {
	position: relative;
} 
#document-part {
	margin-top: -45px;
}
#document-bottom-part .location {
	margin-top: 100%;
}       
 #document-bottom-part .phone {
	margin-top: 100%;
}      
 #document-bottom-part .massage {
	margin-top: 100%;
}       
 #document-bottom-part .internert {
	margin-top: 100%;
}   
     
#document-bottom-part p {
	font-size: 14px;
	width: 200px;
}
 /*   ===========document-bottom part responsive start=========== */  
  .fotter {
	display: none;
}   
#frome-part {
	margin-top: 70px;
} 
 #frome-part .title h2 {
	font-size: 18px;
}   
#frome-part .message textarea {
	height: 200px;
}    
  .backtotop {
	padding: 15px;
}  
    }  

@media (min-width:1200px) and (max-width:1399px){  
 /*==========banner-part responsive start=========    */   
  .fixed-top {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}   
  /*==========banner-part responsive start=========    */    
  /*==========banner-part responsive start=========    */      
 #banner-bottom {
	height: 210px;
	margin-top: -105px;
}        
 /*==========banner-part responsive end=========    */   
    
/*   ===========about part responsive start=========== */      
#about-part{
    padding-top: 0px;
}    
  #about-part .title h2 {
	font-size: 25px;
    padding-top: 20px;
}    
#about-part .row .round {
	height: 312px;
	width: 312px;
	padding: 20px;
} 
#about-part .row .item-top h3 {
	margin-top: -20px;
}    
 #about-part .row .item-top p {
	margin-top: 10px;
}       
#about-part .row .item-top .shape-top {
	margin-top: 19%;
	margin-left: 39%;
}    
#about-part .row .item-top i {
	margin-top: 26%;
	margin-left: -6px;
	font-size: 14px;
}          
#about-part .row .item-left {
	width: 340px;
	padding: 15px 20px;
	text-align: center;
	margin-top: 45px;
	margin-left: 10%;
	height: 250px;
}      
#about-part .row .item-left h3 {
	height: 80px;
	font-size: 18px;
	padding-top: 0px;
	text-align: center;
}        
#about-part .row .item-left p {
	width: auto;
	font-size: 13px;
    padding-bottom: 0;
    margin-top: -45px;
}        
#about-part .row .item-left .shape-left {
	margin-top: -20.5%;
	margin-left: 320px;
	position: absolute;
	z-index: -1;
}       
#about-part .row .item-left i {
	margin-left: 191px;
	margin-top: -57px;
	font-size: 14px;
}   
 #about-part .row .item-right {
	width: 340px;
	padding: 25px 20px;
	text-align: center;
	margin-top: 45px;
	height: 250px;
}      
 #about-part .row .item-right h3 {
	height: 15px;
	font-size: 18px;
	padding-top: 0px;
	text-align: center;
}        
 #about-part .row .item-right p {
	width: auto;
	font-size: 13px;
}        
#about-part .row .item-right i {
	margin-left: -62.5%;
	margin-top: 11%;
	font-size: 14px;
}       
#about-part .row .item-bottom .shape-bottom {
	margin-top: -60%;
	margin-left: 44%;
	position: absolute;
	z-index: -1;
}    
#about-part .row .item-bottom i {
	margin-top: -66%;
	font-size: 14px;
}     
 #about-part .row .item-bottom h3 {
	margin-top: -20px;
}       
#about-part .row .item-bottom p {
	margin-top: 6px;
}    
    
/*   ===========about part responsive end=========== */     
 /*==========service-part responsive start=========    */ 
 #service-part {
	margin-top: 50px;
	padding-top: 0;
}  
 #service-part .line {
	top: 176px;
}       
#service-part .service:nth-child(2n+1) .text .shape {
	margin-left: -97%;
	width: 40px;
	height: 40px;
} 
.service-slider .next {
	bottom: -46px;
}
#teem-top-part .teem {
	height: 82px;
	background: #fff;
	margin-top: 111px;
	transform-origin: bottom left;
}
/*==========service-part responsive end=========    */    

/*==========teem-part responsive start=========    */
     
#teem-part .overlay .alignment {
	margin-left: -5%;
}   
#teem-part .overlay .line {
	top: 128px;
	left: 176px;
	height: 480px;
}      
#teem-part .overlay .img-slider .next {
	bottom: -83px;
	left: 51%;
}    
#teem-part .overlay .img-slider .prev {
	left: 50.5%;
}   
 /*==========teem-part responsive end=========    */   
      
 /*==========praicing-part responsive start=========    */      
#praicing-part {
	padding-top: 0px;
}  
#praicing-part .title {
	margin-top: 40px;
}        
 /*==========praicing-part responsive end=========    */   
    
  /*==========counter-part responsive start=========    */    
#counter-part .overlay {
	height: 100%;
	padding: 30px 0;
    margin-top: 0px;
}    
   
 #counter-top-part {
	height: 45px;
	margin-top: 88px;
	width: 100%;
	z-index: 999;
}
 /*==========counter-part responsive end=========    */   

 /*==========document-part responsive start=========    */ 
 #document-top-part {
	height: 56px;
	margin-top: -10px;
}             
#document-bottom-part .location {
	margin-top: 83%;
}  
 #document-bottom-part .phone {
	margin-top: 83%;
}     
 #document-bottom-part .massage {
	margin-top: 83%;
}      
 #document-bottom-part .interner {
	margin-top: 83%;
}    
 #document-bottom-part .big-shape {
	top: 120px;
}         
/*==========document-part responsive end=========    */     
.fotter {
	transform: skew(93deg);
	margin-top: -59px;
}    
 /*==========teem-part responsive end=========    */   
      
 /*==========praicing-part responsive start=========    */      
#praicing-part {
	padding-top: 0px;
}  
#praicing-part .title {
	margin-top: 40px;
}        
 /*==========praicing-part responsive end=========    */   
    
  /*==========counter-part responsive start=========    */    
#counter-part .overlay {
	height: 100%;
	padding: 30px 0;
    margin-top: 0px;
}    
   
 #counter-top-part {
	height: 45px;
	margin-top: 88px;
	width: 100%;
	z-index: 999;
}
 /*==========counter-part responsive end=========    */   

 /*==========document-part responsive start=========    */ 
 #document-top-part {
	height: 56px;
	margin-top: -10px;
}             
#document-bottom-part .location {
	margin-top: 83%;
}  
 #document-bottom-part .phone {
	margin-top: 83%;
}     
 #document-bottom-part .massage {
	margin-top: 83%;
}      
 #document-bottom-part .interner {
	margin-top: 83%;
}    
 #document-bottom-part .big-shape {
	top: 120px;
}         
/*==========document-part responsive end=========    */     
.fotter {
	transform: skew(93deg);
	margin-top: -59px;
}
#teem-part .overlay .img-slider .next {
	bottom: -83px;
	left: 51%;
}    
#teem-part .overlay .img-slider .prev {
	left: 50.5%;
}
  
}
